*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.search{
  background-color: rgb(56, 14, 98);
  padding: 10px;
  text-align: center;
}

.search h3{
  color: aliceblue;
  padding: 10px;
}

.search input[type=text]{
  width: 80%;
  height: 40%;
  padding-left: 20px;
}

.search input[type=submit]{
  color: aliceblue;
  padding: 4px 16px;
  border-radius: 16px;
  border: 2px solid #ffffff;
  background-color: #570d85;
  font-size: 8px;
  cursor: pointer;
  font-weight: bold;
}

.dados{
  text-align: center;
  margin-top: 45px;
  color: rgb(36, 0, 133);
}

.dados p{
  margin-top: 20px;
  font-weight: bold;
}
